useDynLib(pedantics, .registration = TRUE)
import(MCMCglmm)
import(MasterBayes)
import(grid)
import(kinship2)
import(genetics)
importFrom("grDevices", "colors", "colours", "dev.new", "dev.off",
"gray.colors", "postscript","savePlot")
importFrom("graphics", "axis", "barplot", "hist", "lines", "mtext",
"par", "plot")
importFrom("stats", "na.omit", "rbinom", "rnorm", "runif", "uniroot",
"weighted.mean")
importFrom("utils", "flush.console")
importFrom("mvtnorm","rmvnorm")
importFrom("grDevices", "savePlot")
export(
drawPedigree,
fixPedigree,
fpederr,
makePedigreeFactor,
makePedigreeNumeric,
microsim,
pedigreeStats,
pedStatSummary,
phensim,
rpederr,
genomesim
) 


