useDynLib(pedantics)
#import(MCMCglmm)
#import(MasterBayes)
#import(grid)
#import(kinship2)
export(
drawPedigree,
fixPedigree,
fpederr,
makePedigreeFactor,
makePedigreeNumeric,
microsim,
pedigreeStats,
pedStatSummary,
phensim,
rpederr,
rpederrBird,
genomesim
) 


